.navbar *> li:hover {
color: yellow;
}
.navbar-nav{
text-align: center;
z-index: 1;
}
.dropdown-menu{
    text-align: center;
    z-index: 1;
}
@media (max-width: 768px) {
    .navbar-nav{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    
    }
  }
  
